.find_doctor_banner{
    position: relative;
    display: grid;
    overflow: hidden;
}
.find_doctor_banner_paper {
    position: relative;
}
.find_doctor_search_area {
    position: relative;
    z-index: 9999;
}

.find_doctor_search_area {
    padding: 80px 60px;
    display: block !important;
    position: relative;
    margin: 0;
}
.find_doctor_search_part {
    position: relative;
    display:block;
}
.find_doctor_search_part h2 {
    color: var(--heading-color);
    display: block;
    font-size: 32px ;
    font-weight: 700 !important;
    margin-bottom: 20px;
}
.find_doctor_search_part p {
    color: var(--inner-heading);
    font-weight: 500 !important;
    font-size: 15px !important;
    margin-bottom: 30px !important;
}