.content {
  position: relative;
}
figure.snip1192 {
  position: relative;
  width: 95%;
  color: #333;
  text-align: left;
  transition: 0.6s;
}
figure.snip1192 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1192 img {
  max-width: 100%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 8px;
  display: inline-block;
  z-index: 1;
  position: relative;
  box-shadow: var(--bs-md);
  object-fit: cover;
  border: var(--border);
}
figure.snip1192 blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background: var(--white);
  padding: 30px 50px 65px 50px;
  font-size: 12.6px;
  font-weight: 500;
  margin: 0 0 -40px;
  line-height: 1.6em;
  text-align: justify;
  border: var(--border);
}
figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  font-family: 'FontAwesome';
  content: '\201C';
  position: absolute;
  font-size: 50px;
  opacity: 0.8;
  font-style: italic;
  color: var(--theme-color);
}
figure.snip1192 blockquote:before {
  top: 35px;
  left: 20px;
}
figure.snip1192 blockquote:after {
  content: '\201D';
  right: 20px;
  bottom: 35px;
}
figure.snip1192 .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
figure.snip1192 .author h5 {
  margin: 0;
  font-weight: 600;
  color: #2d2d32;
  font-size: 15px;
}
figure.snip1192 .author h5 span {
  font-weight: 500;
  text-transform: none;
  display: block;
  color: #2d2d32;
  font-size: 12px;
}
figure.snip1192:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.testimonial_title {
  color: var(--heading-color);
  font-size: 32px !important;
  font-weight: 700 !important;
  margin-bottom: 20px !important;
    display: block;
}