.card_main {
  border:0px solid transparent;
    box-shadow:none !important;
    background:transparent;
    border-radius:10px;
    overflow:hidden;
}
.cardProduct {
    box-shadow: 0 3px 9px 0 rgb(169 184 200 / 15%) !important;
    border-radius: 10px !important;
    cursor: pointer;
    background: #fff !important;
    border: var(--border);
    transition: .6s;
    position: relative;
    text-align:center;
    padding:20px !important;
    margin: 0 auto !important;
    width:75% !important;

}
