.doctor_card_inner_list {
  position: relative;
}

.doctor_list {
  position: relative;
  box-shadow: 0 1px 4px hsl(0deg 0% 0% / 9%), 0 3px 8px hsl(0deg 0% 0% / 9%),
    0 4px 13px hsl(0deg 0% 0% / 13%);
  border: 1px solid red;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
}

.doctor_avatar {
  width: 170px;
  border: var(--border);
  height: 170px;
  border-radius: 10px !important;
}

.doctor_card_root {
  box-shadow: 0px 15px 10px -22px var(--theme-color) !important;
  background: var(--white) !important;
  padding: 20px !important;
  border-radius: 15px !important;
  overflow: hidden !important;
  border: var(--border) !important;
  margin-bottom: 20px !important;
}

.doctor_card_avatar {
  margin-right: 30px;
}

.doctor_card_header {
  display: flex;
}

.doctor_card_detail {
  width: 100%;
  position: relative;
}

.doctor_name {
  padding: 0 !important;
}

.doctor_card_detail .doctor_expriance {
  font-size: 13px;
  font-weight: 500;
  color: #00abdf;
  line-height: 25px;
}

.doctor_name {
  font-size: 20px;
  font-weight: 600;
  color: var(--heading-color);
  margin-bottom: 10px;
}

.doctor_card_btn {
  padding-top: 10px;
  border-top: 1.5px dashed #a7a7a7;
  margin-top: 10px;
}

.doctor_card_btn button {
  margin-right: 20px;
}

.doctor_filte_price {
  padding: 20px 0px;
}

.doctor_filte_price p {
  font-size: 16px !important;
  font-weight: 600 !important;
  margin-bottom: 10px !important;
}

.doctor_price_select {
  font-size: 14px !important;
  font-weight: 500 !important;
  margin-bottom: 10px !important;
}

.doctor_price_select b {
  color: var(--theme-color) !important;
  font-weight: 600 !important;
}

.doctor_price_select b svg {
  width: 0.5em !important;
  height: 0.5em !important;
}

.SearchDoctor_search {
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;
}

.button_holder {
  position: relative;
  display: grid;
  text-align: center;
  margin: 0 auto;
}

.button_holder button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  min-width: 50px;
  margin: 0 auto 5px;
}

.doctor_card_btn {
  display: flex;
}

.colsult_tag b {
  color: #000;
  font-size: 13px !important;
  font-weight: 600;
}

.colsult_tag p {
  color: #565656;
  font-size: 12px !important;
  font-weight: 600;
}

.colsult_tag p svg {
  font-size: 14px;
}

.boxContent_collapsed {
  position: relative;
}

.doctor_card_detail .doctor_specialization {
  display: flex;
  font-size: 13px;
  font-weight: 600;
  color: var(--theme-color);
  margin-top: -5px;
  align-items: center;
}

.doctor_specialization div svg {
  width: 0.6em;
  height: 0.6em;
}

.doctor_dialog_title h2 {
  font-size: 20px;
  font-weight: 600;
  color: #1f1f1f;
}

.boxContent_collapsed {
  overflow: hidden;
}

.button_holder button {
  background: #fff;
}

.button_holder img {
  width: 22px;
  object-fit: cover;
}

.doctor_card_detail .doctor_specialization img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  padding: 1.5px;
  border: var(--border);
  margin-right: 10px;
  background: #fff;
  box-shadow: var(--bs-md);
}
.time_line_content .doctor_specialization {
  line-height: 34px;
  color: var(--heading-color);
}
.time_line_content .doctor_specialization img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  padding: 1.5px;
  border: none;
  margin-right: 10px;
  background: #fff;
  box-shadow: none !important;
}
.content_tabs .content {
  display: none;
}

.bloc_tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.box .hr {
  border-top: 1px solid #ff23010d;
  border-radius: 5px;
  width: 100%;
  margin: 3px 0;
}

.box .pdfs {
  position: relative;
}

.box .pdfs div {
  display: flex;
  font-size: 13px;
  color: #2d2d32;
  font-weight: 500;
  line-height: 22px;
}

.box .pdfs div p.cv {
  margin-right: 214px;
}

.section_1 {
  display: flex;
}

.p_1 {
  font-size: 16px;
  font-weight: 600;
  color: #2d3748;
}

.pdf_proggress {
  margin-top: 5px;
}

.pdf_proggress label {
  font-size: 14px;
}

.pdf_proggress p {
  color: #5c5c5c;
  margin-left: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.pdf_proggress {
  display: flex;
  justify-content: space-between;
}

.direction svg {
  width: 15px;
  margin-top: -4px;
  fill: #ff2301;
}

.direction p {
  color: #ff2301;
}

.check_box {
  cursor: pointer;
}

.quiz_card_area {
  position: relative;
  margin: 4px;
}

.single_quiz_card {
  border: var(--border) !important;
  background: #fff3f1;
  border-radius: 5px;
  padding: 8px;
  transition: all 0.3s linear;
  overflow: hidden;
}

.quiz_card_title {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid #f0dad7;
}

.quiz_card_title h3 i {
  margin-right: 10px;
}

.quiz_card_title h3 {
  font-size: 14px;
  font-weight: 600;
  color: #343434 !important;
  margin-bottom: 0;
  transition: all 0.3s linear;
}

.quiz_card_title h3 i {
  opacity: 0;
}

.quiz_card_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.quiz_icon {
  position: relative;
  transition: all 0.3s linear;
}

.quiz_icon b {
  font-size: 14px;
  line-height: 30px;
  color: var(--heading-color) !important;
}

.quiz_checkbox[type='radio']:checked
  ~ .single_quiz_card
  .quiz_card_content
  .quiz_card_icon
  .quiz_icon
  b {
  color: #ffffff !important;
}

.quiz_checkbox[type='radio']:checked
  ~ .single_quiz_card
  .quiz_card_content
  .quiz_card_icon
  .time_selector {
  background: #fff !important;
}

.time_selector {
  border: 1px solid #ebb1a9;
  padding: 4px;
  font-size: 11px;
  border-radius: 5px;
  color: #4c4c4c;
  font-weight: 600;
  margin-top: 5px;
}

.quiz_checkbox {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 999;
  cursor: pointer;
}

.quiz_checkbox[type='radio']:checked + .single_quiz_card {
  border: 1px solid hsl(0deg 97% 73%);
  background: hsl(0deg 97% 73%);
  box-shadow: var(--bs-sm) !important;
}

.quiz_checkbox[type='radio']:hover ~ .single_quiz_card {
  border: 1px solid hsl(0deg 97% 73%);
  background: hsl(0deg 97% 73%);
  box-shadow: var(--bs-sm) !important;
}

.quiz_checkbox[type='radio']:checked
  ~ .single_quiz_card
  .quiz_card_content
  .quiz_card_title {
  color: #ffffff !important;
}

.quiz_checkbox[type='radio']:checked
  ~ .single_quiz_card
  .quiz_card_content
  .quiz_card_title
  h3 {
  color: #ffffff !important;
}

.quiz_checkbox[type='radio']:checked
  ~ .single_quiz_card
  .quiz_card_content
  .quiz_card_title
  h3
  i {
  opacity: 1;
}

.quiz_checkbox[type='radio']:hover + .quiz_card_title {
  border: 1px solid #2575fc;
}

.shift_indecation > span {
  border: 1.5px solid #dbdbdb;
  padding: 2px;
  border-radius: 5px;
  width: 18px;
  height: 18px;
  display: block;
}

.shift_indecation > span > i {
  position: relative;
  font-size: 12px;
  display: block;
  color: #fff;
}

.conultation_heading {
  margin-top: 20px;
  border-top: 1.5px dashed #f5d0cb;
  padding-top: 12px;
}

.conultation_heading h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.consultation_content_part {
  position: relative;
  padding: 10px;
  margin: 0 !important;
}
.doctor_card_detail h3 {
  font-size: 22px;
  font-weight: 700;
  color: var(--heading-color);
  position: absolute;
  top: 0;
}
@media screen and (max-width: 600px) {
  .doctor_card_root {
    padding: 10px !important;
  }

  .doctor_card_avatar {
    margin-right: 12px;
    display: none;
  }

  .doctor_avatar {
    width: 80px;
    height: 80px;
  }

  .doctor_card_header {
    display: block;
  }
  .SearchDoctor_search {
    margin-bottom: 30px;
  }
}
/* For Doctor Details Popup */
@media screen and (max-width: 650px) {

  
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  .doctor_avatar {
    width: 110px;
    height: 110px;
    border-radius: 10px !important;
  }
  .doctor_card_avatar {
    margin-right: 15px;
  }
  .doctor_card_root {
    padding: 10px !important;
  }
}

/* Doctor Dialog  */

.doctor_over_view_data {
  position: relative;
  z-index: 1;
}

.doctor_over_view_data:after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 2px;
  left: 4.1%;
  top: 0;
  margin-left: -1px;
  border: 1px dashed #2d3748;
}

.time_line_item {
  position: relative;
  display: block;
  align-items: center;
  margin-bottom: 40px;
  transition: opacity 0.5s;
}

.time_line_date_wrap {
  position: relative;
}

.doc_hexagon {
  opacity: 1;
  position: absolute;
  z-index: 0;
  left: 3px;
  top: 5px;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  transition: opacity 0.8s;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
  border: 1px solid rgb(245, 245, 245);
}

.doc_hexagon img {
  width: 23px;
  object-fit: cover;
  margin: 6px 6px 6px 7px;
}

.doc_hexagon:nth-child(2) {
  top: 66px;
  position: absolute;
  z-index: -1;
  width: 30px;
  height: 30px;
  left: 5px;
}

.time_line_content {
  opacity: 1;
  transform: translateX(0);
  position: relative;
  z-index: 1;
  padding: 20px;
  width: 88%;
  box-shadow: 7px 5px 30px 0 rgb(72 73 121 / 15%);
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  transition: 0.4s;
  margin-left: 65px;
}

.time_line_content .doctor_avatar {
  width: 100px !important;
  height: 100px !important;
  border-radius: 10px !important;
}

.time_line_content .doctor_card_avatar {
  margin-right: 15px !important;
}

.time_line_content .doctor_specialization img {
  margin-right: 5px;
  height: 20px;
}

.time_line_content .doctor_name span {
  font-size: 18px !important;
  margin-bottom: 10px !important;
}

.doctor_card_header {
  display: flex;
}

.doctor_card_detail {
  width: 100%;
}

.doctor_name {
  padding: 0 !important;
}

.doctor_expriance {
  font-size: 13px;
  font-weight: 600;
  color: #2d3748;
}

.doctor_name span {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

.doctor_specialization {
  display: flex;
  font-size: 13px;
  font-weight: 600;
}

.doctor_specialization .doctor_para {
  font-size: 13px;
  font-weight: 600;
  color: #ef423c;
}

.doctor_specialization div svg {
  width: 0.6em;
  height: 0.6em;
}
.doctor_info_icon {
  position: relative;
}
.doctor_info_icon > span img {
  border: 2px solid #2d2d32;
  border-radius: 50%;
  padding: 5px;
  width: 29px;
  opacity: 0.6;
}
.prace_tag {
  position: relative;
}
.prive_tag_img img {
  position: absolute;
  width: 110px;
  height: 23px;
  left: -14px;
}
.prive_tag_img p {
  position: relative;
  z-index: 99;
  color: #fff;
  font-size: 13.5px;
  font-weight: 500;
  top: 1px;
}
.appointment_date {
  position: relative;
  border: var(--border);
  padding: 10px;
  border-radius: 56px;
  margin: 0 auto;
  text-align: center;
  width: 40%;
  background-color: #fff3f1;
  margin-bottom: 30px;
  height: 50px;
  overflow: hidden;
}
.appointment_date label {
  font-size: 16px;
  font-weight: 600;
  color: var(--heading-color);
}
.appointment_date  > div {
  width: 100%;
  position: absolute;
  left: 0;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
  display: block;
}
.appointment_date  input {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: var(--theme-color) !important;
}
.appointment_date button{
  position: absolute;
  width: 100%;
  left: 0;
  height: auto;
  border-radius: 0;
  top: -10.5px;
  padding: 12px 35px ;
}
.appointment_date > div > div {
  position:absolute;
  width: 100%;
  left: 0;
  padding: 0 35px;
}
.appointment_date button > span {
  justify-content: end;
}
.appointment_date button > span > svg {
  fill: var(--theme-color) !important;
}
.clinic_address {
  position: relative !important;
  width: 100%;
  border: var(--border);
  background: #fff;
  -webkit-box-shadow: var(--bs-sm);
  box-shadow: var(--bs-sm);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.clinic_address:hover {
  background: #efefef;
}
.clinic_address_card {
  position: relative;
}
.address_data_card{
  width: 100%;
  position: relative;
}
.consultation_content_part >div {
  width: 100%;
  position: relative;
}
.doctor_card_header_address {
  display: block;
}
.dialog_doctor_p {
  width: 600px !important;
}
