.steps_timeline {
  outline: 1px dashed rgba(255, 0, 0, 0);
}
@media screen and (max-width: 500px) {
  .steps_timeline {
    border-left: 2px solid #3498db;
    margin-left: 25px;
  }
}
@media screen and (min-width: 500px) {
  .steps_timeline {
    border-top: 2px dashed var(--inner-heading);
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 16.65%;
    margin-right: 16.65%;
  }
}
.steps_timeline:after {
  content: '';
  display: table;
  clear: both;
}

.steps_one,
.steps_two,
.steps_three {
  outline: 1px dashed rgba(0, 128, 0, 0);
}
@media screen and (max-width: 500px) {
  .steps_one,
  .steps_two,
  .steps_three {
    margin-left: -25px;
  }
}
@media screen and (min-width: 500px) {
  .steps_one,
  .steps_two,
  .steps_three {
    float: left;
    width: 33%;
    margin-top: -50px;
  }
}

@media screen and (max-width: 500px) {
  .steps_one,
  .steps_two {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 500px) {
  .steps_one {
    margin-left: -16.65%;
    margin-right: 16.65%;
  }
}

@media screen and (max-width: 500px) {
  .steps_three {
    margin-bottom: -100%;
  }
}
@media screen and (min-width: 500px) {
  .steps_three {
    margin-left: 16.65%;
    margin-right: -16.65%;
  }
}

.steps_img {
  display: block;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 500px) {
  .steps_img {
    float: left;
    margin-right: 20px;
  }
}

.steps_section h3 {
  color: var(--heading-color);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 40px;
}
.steps_timeline span {
  width: 50px;
  background: #dadce0;
  height: 50px;
  display: block;
  border-radius: 50%;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
}
.steps_timeline h6 {
  color: var(--sub-heading-color);
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
.card_inner_holder {
  position: relative;
  padding: 0px !important;
}
.card_inner_holder {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.card_inner_holder img {
  width: 50px;
}
.card_inner_holder h6 {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.card_inner_holder p {
  color: var(--sub-heading-color);
  font-size: 13px;
  font-weight: 500;
}
.card_container {
  display: flex;
  justify-content: space-around;
}
.work_process_step,.work_data_patch,.card_container_inner {
  box-shadow:none !important;
  background: transparent !important;
  position: relative;
}
.vc_consultation_box h3 {
  margin-top:20px;
  color: var(--heading-color);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}
.list_item ul {
  list-style: none;
}
.list_item ul li {
  margin-bottom:15px;
  color: var(--inner-heading);
  font-size: 14px;
  font-weight: 500;
  display:flex;
}
.list_item ul li img {
  width: 12px;
  object-fit: cover;
  height: 18px;
  display: block;
  margin-right: 6px;
  position: relative;
  top: 4px;
}
.data_security_img img{
  width:100%;
}
.work_process_step:after{
  content: '';
  position: absolute;
  height: 400px;
  width: 2px;
  right: 20px;
  top: 0;
  margin-left: -1px;
  background: -webkit-linear-gradient(top,transparent 0%,rgba(63,71,103,0.15) 100px,rgba(63,71,103,0.15) -webkit-calc(100% - 100px),transparent 100%);
  background: -webkit-linear-gradient(top,transparent 0%,rgba(63,71,103,0.15) 100px,rgba(63,71,103,0.15) -moz-calc(100% - 100px),transparent 100%);
  background: -webkit-linear-gradient(top,transparent 0%,rgb(248 76 0) 100px,rgb(248 76 0) calc(100% - 100px),transparent 100%);
}
