.doctor_card_header {
  display: flex;
}
.doctor_avatar {
  width: 60px;
  border: var(--border);
  height: 60px;
  border-radius: 10px !important;
  margin-right: 20px;
}
.doctor_card_detail {
  position: relative;
}
.doctor_name {
  padding: 0 !important;
}
.doctor_name span {
  font-size: 18px;
  font-weight: 600;
  color: var(--heading-color);
}
.doctor_specialization img {
  position: relative;
  top: -30px;
  float: right;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  padding: 1.5px;
  border: 1px solid #efefef;
  margin-right: 10px;
  background: #fff;
  box-shadow: 0 1px 4px hsl(0deg 0% 0% / 9%), 0 3px 8px hsl(0deg 0% 0% / 9%),
    0 4px 13px hsl(0deg 0% 0% / 13%);
}
.doctor_card_avatar {
  width: 20%;
}
.doctor_card_detail {
  width: 80%;
}
.doctor_specialization {
  display: flow-root;
  font-size: 13px;
  font-weight: 600;
  color: var(--theme-color);
  margin: 5px 0px;
  align-items: center;
}
.doctor_details,.booking_summery {
  padding: 12px 20px;
  border-bottom: var(--border);
}
.booking_summery {
    display: grid;
}
.patient_info_data {
    display: flex !important;
    flex-direction: initial !important;
    justify-content: space-between;
}
.patient_info_inn{
    font-size: 13px !important;
    font-weight: 600 !important;
    color: var(--inner-heading) !important;
    line-height: 30px !important;
    opacity: .8;
}
.patient_info_inn_p{
    font-size: 13px;
    color: var(--sub-heading-color);
    line-height:30px;
    text-align: end;
}
.patient_info_inn_p span {
    font-size: 12px !important;
    color: var(--sub-heading-color) !important;
    font-weight: 500 !important;
    text-align: end !important; 
    line-height:normal !important;
}
.booking_summery span {
    font-size: 14px;
    font-weight: 600;
    color: var(--heading-color) !important;
    line-height: 25px;
}
.patient_info_data_total {
    display: flex !important;
    flex-direction: initial !important;
    justify-content: space-between;
    border-top: 2px dashed #dadce0 !important;
}
.apply_btn{
    color: #fff !important;
    background-color: #ec3832 !important;
}
.apply_btn span {
    color: #fff !important;
}
.coupon_code{
    position: relative;
}
.coupon_code input {
    padding: 10px !important;
    line-height: 20px;
    font-size: 14px !important;
    border: var(--border);
    border-radius: 6px;
    background: #f2f2f2;
    width:200px !important;
}