.about_main {
  position: relative;
  height: 600px;
}
.root {
  border-radius: 15px !important;
  box-shadow: 0 2px 14px 0 rgb(0 0 0 / 12%) !important;
  border-top: 6px solid var(--theme-color);
  padding: 40px;
  position: relative;
  background: #fff;
  overflow: hidden !important;
  position: absolute;
  width: 100% !important;
  margin: 0 auto !important;

  top: -150px;
}
.about_container {
    position: relative;
}
.about_container h5 {
    color: var(--theme-color);
    font-size: 20px !important;
    font-weight: 700 !important;
}
.about_container h3 {
    color: var(--heading-color);
    font-size: 32px !important;
    font-weight: 700 !important;
}
.about_container p {
    color: var(--inner-heading);
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 22px;
    margin: 15px 0 15px 0 ;
}
.owner {
  height: 400px;
  overflow: hidden;
  width: 400px;
  margin: 0 auto;
}
.owner img {
width: 100%;
height: auto;
border-radius: 10px;
object-fit: cover;
}
.feature_container {
  align-items: center;
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  padding: 6px 15px 6px 15px;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 5px 30px 0 rgb(31 34 120 / 8%);
  border: 1px solid var(--theme-color);
}
.icon_md {
  display: inline-block;
  text-align: center;
}
.icon_cell {
  margin-right: 20px;
}
.icon_cell svg {
  width: 40px;
  height: 40px;
}
