.descriptionCta {
    justify-content: center !important;
}
.descriptionCta h2 {
    color: var(--heading-color);
    display: block;
    font-size: 32px;
    font-weight: 700 !important;

}
.descriptionCta h6 {
    color: var(--inner-heading);
    font-weight: 500 !important;
    font-size: 15px !important;
    margin-bottom: 30px !important;
}
.workingProcess_grid {
    margin: 0 auto;
}