.hero_container {
  justify-content: space-between;
}
.card_holder {
  width: 19%;
}
.card_holder_inner {
  position: relative;
}
.card_color {
  box-shadow: 0px 5px 15px rgb(0 0 0 / 10%);
  border-radius: 10px;
  cursor: pointer;
  height: 270px;
  background-color: white;
  border: 1px solid #dadce0;
  transition: 0.6s;
  position: relative;
}
.card_color:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.img_container {
  border-bottom: 1px solid #dadce0;
}
.img_part {
  padding: 5px;
  object-fit: scale-down;
}

.consult_read_inner{
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  padding: 0px;
  margin: 0 auto;
  line-height: normal;
  font-size: 13px;
  font-weight: 600;
  align-items: center;
}
.card_color:hover  .consult_read_inner{
  width: 100px;
  border-radius: 5px;
  border: 1px solid #dadce0;
  padding: 5px;
  text-align: center;
  background: #fff;
  color: #ff2301;
 
  
}
.card_color:hover  .consult_read_inner .consult_read_more {
  display: block;
}
.consult_read_more {
  display: none;
}
.card_color:hover  .consult_read_inner .consult_read_more_icon {
  display: none;
}
.consult_read_more_icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border:1px solid #dadce0;;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 5px;
  color: #80868b;
  background: #fff;
}

@media screen and (max-width: 300px) {
  .card_holder {
    width: 100%;
    text-align: center;
    margin: 0 0 25px 0 !important;
  }
}
@media(min-width: 301px) and (max-width: 600px) {
  .card_holder {
    width: 48%;
    text-align: center;
    margin: 0 auto 25px !important;
  }
  .img_part {
    width:100%;
  }
}
@media(min-width: 601px) and (max-width: 800px) {
  .card_holder {
    width: 32%;
    text-align: center;
    margin: 0 auto 25px !important;
  }
  .img_part {
    width:100%;
  }
  .card_color {
    height: 290px;
  }
}
@media(min-width: 801px) and (max-width: 900px) {

  .img_part {
    width:100%;
  }
  .card_color {
    height: 290px;
  }
}

@media(min-width: 901px) and (max-width: 1279px) {

  .img_part {
    width:100%;
  }
  .card_color {
    height: 290px;
  }
}


.inner_title {
  color: var(--heading-color);
  font-weight: 600;
  font-size:15px;
}
.content {
  margin-top: 5px;font-size:14px;
  color: var(--inner-heading);
}

@media only screen and (max-width: 450px) {
  .card_color {
      height: 360px;
    }
}