.tab_panel_holder {
  position: relative;
  background: transparent !important;
  box-shadow: none !important;
  margin: 0 auto !important;
  text-align: center !important;
  margin-bottom: 20px !important;
}
.tab_inner_panel {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.tab_inner_panel > div > div {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}
.tab_single_panel {
  position: relative !important;
  color: var(--theme-color) !important;
  font-size: 18px !important;
}
.tab_single_panel.Mui-selected {
  background: red !important;
}
.left_container img {
  box-shadow: var(--bs-lg);
  border-radius: 5px;
  width: 65%;
  height: auto;
  overflow: hidden;
}
.second_inner h3 {
  color: var(--heading-color);
  display: block;
  font-size: 26px;
  font-weight: 700 !important;
  position: relative;
  margin-bottom: 10px;
}
.second_inner h3:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  background: var(--theme-color);
  width: 80px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.4;
}
.listing_features {
  position: relative;
}
.listing_features ul {
  list-style: none;
}
.listing_features ul li {
  display: flex;
  line-height: 20px;
  margin-bottom: 5px;
  font-size: 15px;
}
.listing_features ul li p {
  margin-right: 5px;
  margin-bottom: 0 !important;
}
.listing_features ul li p svg {
  fill: var(--heading-color) !important;
  width: 0.8em;
  height: 0.8em;
}
.image_card {
  position: relative;
  display: flex;
}
.images_inner {
  margin: 10px;
}
.images_inner img {
  width: 50px;
}
.consult_btn > button {
  background: var(--theme-color);
  box-shadow: var(--bs-lg);
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
}
.consult_btn > button:hover {
  background: var(--theme-color);
}
.consult_arrow {
  position: relative;
  top: 4.5px;
}
.second_inner p {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 20px;
}
.left_container {
  position: relative;
}
.left_side_up {
  position: absolute;
  top: 70px;
  left: 68px;
  width: 82% !important;
  height: auto;
}
.type_of_consultation {
  position: relative;
}
.type_of_consultation h2 {
  color: var(--heading-color);
  display: block;
  font-size: 32px;
  font-weight: 700 !important;
  text-align: center;
  margin-bottom: 30px;
}
.tab_contents {
  position: relative;
}
.tab_inner_panel > div > span {
  background: var(--theme-color);
}
.tab_single_panel img {
  width: 20px;
}
@media screen and (max-width: 599px) {
  .tab_inner_panel > div > div {
    display: grid;
  }
  .tab_contents > div {
    padding: 0 !important;
  }
  .left_container {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .tab_inner_panel > div > div {
    display: flex;
  }
  .left_container {
    min-height: 400px;
  }
  .consult_btn {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 769px) and (max-width: 959px) {
  .left_container {
    min-height: 550px;
    max-height: 500px;
    height: auto;
  }
}
