.package_pack {
    position: relative;
}
.video_title {
    position: relative;
}
.video_title span {
    font-size:18px;
    padding:10px 20px;
    background: #ff2301;
    border-radius: 5px;
    color: #fff;
    box-shadow: var(--bs-lg);
    line-height:normal;
 
}
.video_title h4 {
    font-size:16px;
    margin-top:25px;
}
.video_consult_inner .video_consult_inner  {
    padding:0px !important;
}